<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>      
       <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.*]*,[*Tests]*</Exclude> <!-- [Assembly-Filter]Type-Filter -->
           <ExcludeByFile>
                      **/test/**/*.cs,
                      **/src/AElf.CrossChainServer.AuthServer/**/*.cs,
                      **/src/AElf.CrossChainServer.AetherlinkApi/**/*.cs,
                      **/src/AElf.CrossChainServer.EvmIndexer/**/*.cs,
                      **/src/AElf.CrossChainServer.Worker/**/*.cs,
                      **/src/AElf.CrossChainServer.DbMigrator/**/*.cs,
                      **/src/AElf.CrossChainServer.EntityHandler/**/*.cs,
                      **/src/AElf.CrossChainServer.HttpApi.Host/**/*.cs,
                      **/src/AElf.CrossChainServer.HttpApi.Client/**/*.cs,
                      **/src/AElf.CrossChainServer.Application.Contracts/**/*.cs,
                      **/src/AElf.CrossChainServer.EntityFrameworkCore/Migrations/*.cs,
                      **/src/AElf.CrossChainServer.Application/Contracts/**/*.cs,
                      **/src/AElf.CrossChainServer.Application/Chains/*.cs,
                      **/src/AElf.CrossChainServer.Application/Chains/Ton/*.cs,
                      **/src/AElf.CrossChainServer.Application/Indexer/**/*.cs,
                      **/src/AElf.CrossChainServer.Application/CrossChain/AetherlinkOptions.cs,
                      **/src/AElf.CrossChainServer.Application/CrossChain/CrossChainTransferAppService.ExceptionHandler.cs,
                      **/src/AElf.CrossChainServer.Application/CrossChain/IAetherLinkProvider.cs,
                      **/src/AElf.CrossChainServer.Application/CrossChain/ICheckTransferProvider.cs,
                      **/src/AElf.CrossChainServer.Application/TokenAccess/IAggregatePriceProvider.cs,
                      **/src/AElf.CrossChainServer.Application/TokenAccess/ILarkRobotNotifyProvider.cs,
                      **/src/AElf.CrossChainServer.Application/TokenAccess/IAwakenProvider.cs,
                      **/src/AElf.CrossChainServer.Application/TokenAccess/IScanProvider.cs,
                      **/src/AElf.CrossChainServer.Application/TokenAccess/ITokenImageProvider.cs,
                      **/src/AElf.CrossChainServer.Application/TokenAccess/TokenInvokeProvider.cs,
                      **/src/AElf.CrossChainServer.Application/TokenAccess/TokenAccessAppService.cs,
                      **/src/AElf.CrossChainServer.Application/TokenPool/ITokenLiquidityMonitorProvider.cs,
                      **/src/AElf.CrossChainServer.Domain/Notify/*.cs,
                      **/src/AElf.CrossChainServer.Domain/Data/**/*.cs,
                      **/src/AElf.CrossChainServer.Domain/OpenIddict/*.cs,
                      **/src/AElf.CrossChainServer.Domain/Chains/ChainDataSeedContributor.cs,
                      **/src/AElf.CrossChainServer.EntityFrameworkCore/EntityFrameworkCore/CrossChainServerDbContextFactory.cs,
                      **/src/AElf.CrossChainServer.EntityFrameworkCore/EntityFrameworkCore/EntityFrameworkCoreCrossChainServerDbSchemaMigrator.cs,
                      **/src/AElf.CrossChainServer.Application/HttpClient/*.cs</ExcludeByFile>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>    
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>